{extend name="layout/layout" /}
{block name="main"}
<div class="clearfix breadcrumb">
  <div class="pull-left breadcrumb-title">图集管理</div>
  <div class="pull-right breadcrumb-action">
    <a class="btn-add" href="/backend/photos?tid={$Think.get.tid}">返回列表</a>
  </div>
</div>
<div class="main-form">
  <form name="theForm" action="/backend/photos" enctype="multipart/form-data" method="post">
    <div class="form-box">
      <input type="hidden" name="tid" value="{$Think.get.tid}" />
      {tytag:textfield label="标题" name="title" value="" help="" require="require" /}
      {tytag:filefield label="封面图片" name="image" value="" updir="photos" ftype="image" help="" /}
      {tytag:mulfilefield label="图册" name="images" value="" updir="photos" help="" /}
      {tytag:textfield label="seo标题" name="seo_title" value="" help="" require="" /}
      {tytag:textfield label="seo关键字" name="seo_keywords" value="" help="" require="" /}
      {tytag:textareafield label="seo描述" name="seo_description" value="" help="" /}
      {tytag:textareafield label="内容" name="content" value="" help="" /}
      {tytag:textfield label="排序" name="sort" value="50" help="越小越靠前" require="" /}
      <div class="form-group">
        <div class="form-label">是否显示</div>
        <div class="form-input">
          <input type="radio" name="is_show" placeholder="是否显示" checked="checked" value="1" /> 是
          <input type="radio" name="is_show" placeholder="是否显示" value="0" /> 否
        </div>
      </div>
      {tytag:submitfield /}
    </div>
  </form>
</div>
{/block}

{block name="js"}
<script type="text/javascript" src="/plugins/tyeditor/ueditor.config.js"></script>
<script type="text/javascript" src="/plugins/tyeditor/ueditor.all.js"></script>
<script>
  var ue = UE.getEditor('content', {
    initialFrameHeight: 500
  });
</script>
{/block}